<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.yx.dao.MenuDao" >
    <sql id="Base_Column_List">
            mid, menu_type, super_menu_id, menu_name,menu_link,redirect,menu_english_name , menu_english_name,
    create_user_no,create_time, update_user_no, update_time, is_use
    </sql>
</mapper>